<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Creative - Start Bootstrap Theme</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <link href="/src/assets/css/styles.css" rel="stylesheet" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    </head>

    <body id="page-top">
        <div class="masthead1" style="background-color:black ;height:100%;">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="button-container-div">
                        <button type="submit" class="btn btn-primary w " style="text-align:center;" (click)="login()">Login using Spotify <span class="fa fa-spotify"></span></button>
                    </div>
                </div>
            </div>
        </div>
        <script src="/src/assets/js/scripts.js"></script>

    </body>
</html>
